# Conexão com banco de dados (SQL Server)
DB_SERVER=Seu serivdor 
# Quem souber deixar em geral essa poha na rede faz eu nao sabo
DB_USER=o seu nome de usuario 
DB_PASSWORD=nem preciso falar oq e aq ne
DB_NAME=nome do banco